@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-bg text-text antialiased;
  }

  ::selection {
    @apply bg-accent/30 text-white;
  }
}

@layer utilities {
  .section-padding {
    @apply py-28 px-6 md:px-12;
  }

  .container-max {
    @apply max-w-5xl mx-auto;
  }
}
